{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
   {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% if name %}
    <h1>Salut {{ name }}</h1>
    <br>
    <img src="{{ url_for('static',
    filename='images/Datascience.jpg')}}" alt="image d'un datascientist"
    width="1100"> <br>
    <p id="demo">ceci est un truc...</p>

<script src="{{ url_for('static', filename='js/myfile.js')}}"></script>
{% else %}
    <h1>Quel est votre Nom?</h1>
    <br>
    <form  method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
{% endif %}

{% endblock %}